body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url(/songgame/frontend-spring-boot-react-crud-full-stack-with-maven/public/guessthatsong6.png);
  background-repeat: no-repeat;
  background-size: cover;
   */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.logosize{
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  float: center;
  margin-left: auto;
  margin-right: auto;
}

/* Play Button */
.btn{
  margin-top: -55%;
  justify-content: center;
  position: relative;
  text-align: center;
  margin:  auto;
  margin-bottom: auto;
}

